/*--- BASIC SETUP ---*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 10vh;
}

body {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
}

canvas {
  border: 2px solid black;
}
